*{
    padding: 0;
    margin: 0;
}

.Nav {
    font-family: 'Poppins', sans-serif;
    background-color: #4267b2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box; /* Inclui padding dentro do tamanho total */
    overflow: hidden; /* Evita transbordamento */
}


.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.IconLogo {
    height: 40px;
    margin-right: 10px;
}

.TextoNav {
    font-size: 14px;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.TextoNav:hover {
    text-decoration: underline;
}

.Rotas {
    display: flex;
}

.Banner{
    width: 100%;
}

.Sobre{
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f5ede5;
    font-family: 'Poppins', sans-serif;
}

.Psicologa{
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #95B5F1;
    font-family: 'Poppins', sans-serif;
}

/*Galeria*/
.Galeria {
    padding: 20px;
    background-color: #f5ede5; /* Cor de fundo */
    text-align: center;
    margin-bottom: 20px;
}

.Galeria h4 {
    font-size: 30px;
    font-family: "Concert One", sans-serif;
    margin-bottom: 20px;
}

/* Estilo para as linhas da galeria */
.LinhaGaleria {
    display: flex;
    justify-content: center; /* Centraliza as imagens na linha */
    gap: 10px; /* Espaçamento entre as imagens na mesma linha */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
}

/* Estilo para as imagens */
.GaleriaItem {
    width: 250px; /* Largura fixa */
    height: 200px; /* Altura fixa */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem deformar */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease;
}

.GaleriaItem:hover {
    transform: scale(1.1); /* Aumenta levemente ao passar o mouse */
}




.Icon{
    height: 250px;
    width: auto;
    border-radius: 10px;
}

.Informacoes{
    width: 750px;
}

.Subtitulo{
    font-size: 30px;
    font-family: "Concert One", sans-serif;
    margin-bottom: 20px;
}


.Form {
    height: 86vh;
    background-color: #f5ede5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Formu {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Formulario {
    width: 60%; /* Ajuste da largura do formulário */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
    padding: 20px;
    display: grid; /* Utilizando grid para organizar os campos */
    grid-template-columns: repeat(2, 1fr); /* Dois campos por linha */
    grid-gap: 20px; /* Espaço entre os campos */
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
}

.Input label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.Input {
    display: flex;
    flex-direction: column;
}

.InserirInput {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.Btn {
    grid-column: span 2; /* Faz o botão ocupar a largura total */
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    justify-self: center;
}

.Btn:hover {
    background-color: #27408B;
}



.Pacientes{
    display: grid;
    height: 86vh;
    background-color: #d2e8ff;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.Card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 25px;
}

.ImgUsuario{
    height: 80px;
    width: auto;
}

.Usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Rodapé --- */
.Rodape {
    background-color: #4267b2;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

.TextRodape em {
    font-style: italic;
}
