<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Links Google #}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@100;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./static/estilo.css">
    <title>{{ Titulo }}</title>
</head>
<body>
{# --- NAV --- #}
<section class="Nav">
    <a href="/" class="Logo">
        <img class="IconLogo" src="./static/IconPsco.png">
        <p class="TextoNav"><strong>Espaço Psicologia</strong></p>
    </a>
    <div class="Rotas">
        <a class="TextoNav" href="/importancia">Importância</a>
        <a class="TextoNav" href="/cadastroPac">Cadastro Pacientes</a>
        <a class="TextoNav" href="/cadastroCon">Cadastro Consultas</a>
        <a class="TextoNav" href="/exibirPaciente">Pacientes Cadastrados</a>
        <a class="TextoNav" href="/exibirConsultas">Consultas Cadastrados</a>
    </div>
</section>

{# --- BANNER --- #}
<section>
    <img class="Banner" src="./static/Banners.png">
</section>

{# --- SOBRE --- #}
<section class="Sobre">
    <img class="Icon" src="./static/IconSobre.png">
    <div class="Informacoes">
        <h4 class="Subtitulo">Sobre</h4>
        <p class="Texto">Bem-vindo(a) à nossa clínica de psicologia! Nosso espaço foi criado para oferecer um ambiente acolhedor e seguro, onde você pode se sentir à vontade para falar sobre suas emoções, pensamentos e desafios. Contamos com uma equipe de profissionais qualificados e dedicados ao seu bem-estar emocional, prontos para ajudar você a enfrentar suas questões com cuidado e respeito. Oferecemos atendimentos individuais, terapias de casal, familiares e de grupos, sempre com foco na construção de uma vida mais equilibrada e saudável. Aqui, acreditamos que cada pessoa é única, e por isso, nossos tratamentos são personalizados, visando atender às suas necessidades específicas.</p>
    </div>
</section>

<section class="Psicologa">    
    <div class="Informacoes">
        <h4 class="Subtitulo">Nossa Psicóloga</h4>
        <p class="Texto">A Dra. Aurora, psicóloga formada pela USP, possui Mestrado e Doutorado em Psicologia, com especialização em Terapia Cognitivo-Comportamental (TCC). Sua abordagem terapêutica foca na identificação e transformação de pensamentos e comportamentos disfuncionais, ajudando no tratamento de ansiedade, depressão e estresse. Com vasta experiência clínica e constante atualização em pesquisas, Dra. Aurora oferece intervenções baseadas em evidências, personalizadas às necessidades de cada paciente. Seu atendimento acolhedor promove um espaço seguro para o autoconhecimento, desenvolvimento de habilidades e busca por uma vida mais equilibrada e saudável.</p>
    </div>
    <img class="Icon" src="./static/Psicologa.png">
</section>

{# --- GALERIA --- #}
<section class="Galeria">
    <h4>Galeria</h4>
    <!-- Primeira Linha -->
    <div class="LinhaGaleria">
        <img class="GaleriaItem" src="./static/imagem1.jpeg" alt="Imagem 1">
        <img class="GaleriaItem" src="./static/imagem2.jpeg" alt="Imagem 2">
        <img class="GaleriaItem" src="./static/imagem3.jpeg" alt="Imagem 3">
    </div>
    <!-- Segunda Linha -->
    <div class="LinhaGaleria">
        <img class="GaleriaItem" src="./static/imagem4.jpeg" alt="Imagem 4">
        <img class="GaleriaItem" src="./static/imagem5.jpeg" alt="Imagem 5">
        <img class="GaleriaItem" src="./static/imagem6.jpeg" alt="Imagem 6">
    </div>
    <!-- Terceira Linha -->
    <div class="LinhaGaleria">
        <img class="GaleriaItem" src="./static/imagem7.jpeg" alt="Imagem 7">
        <img class="GaleriaItem" src="./static/imagem8.jpeg" alt="Imagem 8">
        <img class="GaleriaItem" src="./static/imagem9.jpeg" alt="Imagem 9">
    </div>
</section>



{# --- RODAPÉ --- #}
<footer class="Rodape">
    <p class="TextRodape">Feitor por: <em>Karoline Moraes</em></p>
</footer>
</body>
</html>